@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.weather{
	margin-bottom: 3em
}

.container, .container label, .container h2 {
    color: white;
}


.img{
	display: block;
	margin-left: auto;
  margin-right: auto;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}
