<!DOCTYPE html>
<html>
<head>
  <!-- Basic meta tags and title -->
  <title>PlantIt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Farmer's assistant" content="AgriBot PWA">

  <!-- CSS Stylesheets -->
  <!-- Bootstrap framework for responsive design -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Custom stylesheets for different components -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/buttons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/footer.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/about.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/news.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/crop_prediction.css') }}">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

  <!-- JavaScript Libraries -->
  <!-- jQuery for DOM manipulation -->
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <!-- Bootstrap dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- PWA Configuration -->
  <!-- App icons and manifest for Progressive Web App functionality -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon-96.png') }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="icon" type="img/png" href="{{ url_for('static', filename='images/icon-96.png') }}">

  <!-- Custom JavaScript files -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/crop_prediction.js') }}"></script>
</head>

<body style="background-color:rgb(254, 255, 223);">
  <!-- Navigation Bar -->
  {% include 'navbar.html' %}

  <!-- Weather Widget -->
  <div class="weather-container">
    <a class="weatherwidget-io" href="https://forecast7.com/en/12d9777d59/bengaluru/" 
       data-label_1="BANGALORE" data-label_2="WEATHER" data-theme="dark">
       BANGALORE WEATHER
    </a>
  </div>

  <!-- Weather Widget Script Loader -->
  <script>
    window.addEventListener("load", function() {
        let weatherScript = document.createElement("script");
        weatherScript.src = "https://weatherwidget.io/js/widget.min.js";
        weatherScript.async = true;
        document.body.appendChild(weatherScript);
    });
  </script>

  <!-- Main Content Container -->
  <div class="container">
    {% block body %}{% endblock %}
  </div>

  <!-- Footer Section -->
  {% include 'footer.html' %}

  <!-- Additional JavaScript files -->
  <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/install.js') }}"></script>

</body>
</html>
